<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,latin-ext,greek-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine:bold">
  <link type="text/css" rel="stylesheet" href="/style/main_blog.css" />
  <title>David's blog</title>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40588403-1', 'davidadlersapp.appspot.com');
  ga('send', 'pageview');

</script>
</head>

<body>
  <a href="/udacity/blog" class="main-title">
    David's blog
  </a>
  <button onclick="window.location.href='/'">Home</button>
  <button onclick="window.location.href='/udacity/blog/newpost'">New post</button>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

