@font-face
{
font-family: Lobster;
src: url('fonts/Lobster/Lobster.ttf');
}
@font-face
{
font-family: rale;
src: url('fonts/Raleway/Raleway-Light.ttf');
}
@font-face
{
font-family: cabin;
src: url('fonts/Raleway/Cabin-regular.ttf');
}

body
{
	margin: 0;
	font-family: rale;
	
}



#header
{
    background:url(images/bgnoise_lg.png);
    width: 100%;
    border-bottom: 2px solid #B4B1AA;
    height: 148px;
    box-shadow: 0px 0px 30px;

}
	#header button
	{
		font-family: rale;
		font-weight: bold;
	}

#title {
    font-family: Lobster;
    font-family: 'Lobster', cursive;
    font-size: 100px;
    text-align: center;
    color: #20b8b6;
    text-decoration: none;
    position: relative;
    top: -42px;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);

}
	#title h1
	{
		font-family: rale;
		display: inline;
		font-size: 70px;
		color: MediumVioletRed;
	    text-shadow: 0px 0px 0px;
	}


#userInfo 
{
	position: absolute;
	background-color: #fff;
	padding: 2em;
	border-radius: 12px;
	border: 1px solid #ccc;
}

#signin-signup
{
	position: relative;
	display: none;
	top:25px;
	left:910px;
	width: 250px
}
	#signin-signup:before
	{
		position: absolute;
		content: '';
		width: 0px;
		height: 0px;
		border-top: 10px solid transparent;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 10px solid white;
		top:-16px;
		left: 200px;
		z-index: 200;
	}
	
	#signin-signup.show
	{
		display: inline-block;
		z-index: 3000;
	}

	#signin-signup #login
	{
		float: right;
	}
	
	#signin-signup .login-icon
	{
		text-align: center;
		vertical-align: center;
	}
		#signin-signup .login-icon .icon-facebook
		{
			color: white;
		}

		#signin-signup .login-icon .icon-stack-base
		{
			color: #474545;
		}

#signin-signup-button
{
	position: relative;
	top:10px;
	left:1170px;
	z-index: 100;
	background-color: #20b8b6;
	padding: 10px;
	color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 15px 2px rgb(129, 129, 129);
	padding: 1em;
}
	
.button
	{
		position: relative;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		font-weight: 700;
		border: 0;
		outline: 0;
		cursor: pointer;
		border-radius: 8px;
		text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
		overflow: hidden;
		background: #20b8b6;
		background-image: -moz-linear-gradient(top, rgba(97,184,219,0), rgba(142, 213, 255, 0.73));
		background-image: -webkit-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,0.6));
		background-image: -o-linear-gradient(top, rgba(97,184,219,0), rgba(142, 213, 255, 0.73));
		background-image: -ms-linear-gradient(top, rgba(97,184,219,0), rgba(142, 213, 255, 0.73));
		background-image: linear-gradient(top, rgba(97,184,219,0), rgba(142, 213, 255, 0.73));
		box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255,255,255,0.75);
		-moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-o-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
	}

		.button:before
		{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/bg.png');
		}

		.button:hover
		{
			background-color: #76cdf0;
			color: #fff !important;
		}
		
		.button:active
		{
			background-image: -moz-linear-gradient(top, rgba(142, 213, 255, 0.73), rgba(77,164,199,0));
			background-image: -webkit-linear-gradient(top, rgba(142, 213, 255, 0.73), rgba(77,164,199,0));
			background-image: -o-linear-gradient(top, rgba(142, 213, 255, 0.73), rgba(77,164,199,0));
			background-image: -ms-linear-gradient(top, rgba(142, 213, 255, 0.73), rgba(77,164,199,0));
			background-image: linear-gradient(top, rgba(142, 213, 255, 0.73), rgba(77,164,199,0));
			box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px -2px 1px 0px rgba(255,255,255,0.75);
			top: 1px;
		}
	
