@font-face
{
font-family: Lobster;
src: url('fonts/Lobster/Lobster.ttf');
}
@font-face
{
font-family: rale;
src: url('fonts/Raleway/Raleway-Light.ttf');
}
@font-face
{
font-family: cabin;
src: url('fonts/Raleway/Cabin-regular.ttf');
}

#title {
    font-family: Lobster;
    font-family: 'Lobster', cursive;
    font-size: 100px;
    text-align: center;
    color: #20b8b6;
    text-decoration: none;
    position: relative;
    top: -22px;
}
	#title h1
	{
		font-family: rale;
		display: inline;
		font-size: 80px;
		color: MediumVioletRed;
	}

#userInfo {
	position: absolute;
	top: 10px;
	right: 10px;
}