@font-face
{
font-family: Lobster;
src: url('fonts/Lobster/Lobster.ttf');
}
@font-face
{
font-family: rale;
src: url('fonts/Raleway/Raleway-Light.ttf');
}


#title {
    font-family: Lobster;
    font-family: 'Lobster', cursive;
    font-size: 100px;
    margin: 15 250;
    color: #20b8b6;
    text-decoration: none;

}

body {
	margin-right: auto;
	position: relative;
	width: 1006px;
    margin: 0 auto;
    padding: 10px;
    background:url(images/bgnoise_lg.png);
}

#container {
	width: 1006px; height:402px; background-color:#e8e2e2;
}

.side-pane {
	width: 200px;  height:402px; 
    font-family: rale;
    font-family: 'Raleway', sans-serif;
	background-color:#b7b1b1;
	background:url(images/tweed.png);
	color:white;
}

#nav {
	float: left;
	font-size: 6px;
	padding: 0px;
	word-spacing: 0px; 	
	margin: 0 0; 	
}


#score-pane {
	float: left;
}
#score-pane p {
	margin-left: 10px;
}

#game{
	background:url(images/graphy.png);
	background-position-y: 35;
	float: left;
	border: solid black 4px;
}

