@font-face
{
font-family: Lobster;
src: url('fonts/Lobster/Lobster.ttf');
}
@font-face
{
font-family: rale;
src: url('fonts/Raleway/Raleway-Light.ttf');
}


body {
	position: relative;
    margin: 0 auto;
    padding: 10px;
    background:url(images/bgnoise_lg.png);
}



#container {
	width: 1006px; height:602px; background-color:#e8e2e2;
	height:402px; 
	background-color:#e8e2e2;
	margin-left: auto;
	margin-right: auto;
}

.side-pane {
	width: 200px;  height:100%; 
    font-family: rale;
    font-family: 'Raleway', sans-serif;
	background-color:#b7b1b1;
	background:url(images/tweed.png);
	color:white;
}

#nav {
	float: left;
	font-size: 6px;
	padding: 0px;
	word-spacing: 0px; 	
	margin: 0 0; 	
}


#score-pane {
	float: left;
}

#score-pane p {
	margin-left: 10px;
}

#game{
	background:url(images/graphy.png);
	background-position-y: 35;
	float: left;
	border: solid black 1px;
}

