body {
	margin-right: auto;
	position: relative;
	width: 900px;
    margin: 0 auto;
    padding: 10px;
    font-family: sans-serif;
    background:url(images/bgnoise_lg.png);
}

#container {
	width: 1006px; height:402px; background-color:#e8e2e2;
}

.side-pane {
	width: 200px;  height:402px; 
	background-color:#b7b1b1;
	background:url(images/tweed_@2X.png);
	color:white;
}

#nav {
	float: left;
	font-size: 6px;
	padding: 0px;
	word-spacing: 0px; 	
	margin: 0 0; 	
}

#nav ul {
	/*margin: 0 -20px;*/
	/*padding: 0 0;*/
}

#score-pane {
	float: left;
	/*display: inline;*/
}

#game{
	background:url(images/graphy.png);
	background-position-y:35;
	float: left;
}

