
#enterer_container
{
    width: 1300px;
    margin: 0 auto;
    border-radius: 10px;
}

table
{
    padding: 0 0;
    border-spacing: 0;
    text-align: center;
    display: inline-block;
}



/*********************************************************************************/
/* Main grid                                                                         */
/*********************************************************************************/





#main_table
{
    font-family: courier;
    background-color: white;
    border-radius: 6px;
    border: solid #3b3535 1px;
    width:100%;
    margin: 0 auto;
}

#main_table tr:nth-child(even) {
    background-color: #A3CACA;
}

.rhythm_controls
{
    padding: 1em;
    width: 700px;
    margin:0 auto;
}
    .rhythm_controls .icon-plus-sign
    {
        color: forestgreen;
    }

    .rhythm_controls .icon-minus-sign
    {
        color: firebrick;
    }
    #playRhythm
    {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;   
    }

    #time
    {
        width: 40px;
    }

    #clear_grid, #edit_grid_button
    {
        float: right;
    }

    #edit_grid
    {
        display: none;
    }
    #edit_grid.show
    {
        display: block;
    }

/*********************************************************************************/
/* Rhythm details                                                                         */
/*********************************************************************************/

table#rhythm_details
{
    margin-left: 200px;
    border-spacing: 1em;
    font-weight: bold;
    text-align: left;
}

#submit_rhythm
{
    font-size: 1.5em;
    padding: 0.4em;
    color: #009C9A;
}


/*********************************************************************************/
/* Db table                                                                         */
/*********************************************************************************/


#all_rhythms_table
{
    position: relative;
    background-color: white;
    border-spacing: 7px;
    width: 650px;
    display: inline-block;
    border: 1px solid #ccc;
}


.hid{
    visibility: hidden;
}


#all_rhythms_container
{
    margin: 5px 30px;
    display: inline-block;
    width: 650px;
}


#error
{
    border-radius: 8px;
    border: 1px solid #ccc;
    position: fixed;
    top: 50px;
    left: 100px;
    width: 200px;
    height: 50px;
    background-color: lightgoldenrodyellow;
    text-align: center;

}