#nav
{
	font-size: 16px;
	color: white;
	background-color: #AAA;
	width:200px;
	overflow:hidden;
	white-space: nowrap;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#nav ul,
#nav li
{
	/*margin: 0 -10px;*/
	/*padding: 0;*/
	list-style: none;
}

#nav input
{
/*	position: absolute;
	display: none;*/
}


#nav a
{
	color: #fff;
	text-decoration: none;
}

#nav a:hover
{
	/*background-color: #CCC;*/
	font-weight:bold;
}

#nav label + ul
{
	/*margin: 0 0 0 -25px;*/
}

#nav input + label:hover
{
	font-weight:bold;

}

#nav input + label + ul
{
	display: none;
}

#nav label,
#nav label::before
{
	cursor: pointer;
}

#nav input:disabled + label
{
	cursor: default;
	opacity: .6;
}

#nav input:checked:not(:disabled) + label + ul
{
	display: block;
}

#nav label,
#nav label::before
{
	background: url("icons.png") no-repeat;
}

#nav label,
#nav a,
#nav label::before
{
	display: inline-block;
	vertical-align: middle;
	height: 11px;
	line-height: 11px;
}

#nav input 
{
	/*background-position: 18px 0;*/
	/*margin: 0 -20px;*/
	/*visibility: hidden;*/
	margin-right: -15px;

}



#nav label,
#nav a
{
	background-position: 18px 0;
	/*margin: 0 -20px;*/

}

#nav a {
	margin-left: 19px;
}

ul{
  margin-left:-30px;
}

/* Second Level */
ul > ul{
  margin-left:0px;
}

/* Third Level */
ul ul > ul{
  margin-left:0px;
}

#nav label::before
{
	content: "";
	width: 16px;
	/*margin: 0 24px 0 0;*/
	vertical-align: middle;
	background-position: 0 -32px;
}

#nav input:checked + label::before
{
	background-position: 0 -16px;
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	#nav 
	{
		-webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
	}
	
	@-webkit-keyframes webkit-adjacent-element-selector-bugfix 
	{
		from 
		{ 
			padding: 0;
		} 
		to 
		{ 
			padding: 0;
		}
	}
}



	