<html>
<head>
  <script src="script/rhythm.js"></script>
  <script src="script/song.js"></script>
  <script src="script/circle.js"></script>

<style type="text/css">
body {
	margin-right: auto;*/
	position: relative;
	width: 800px;
    margin: 0 auto;
    padding: 10px;
}

</style>
</head>
<body>

<p id="p1">  </p>
<p id="p2">  </p>
<p id="pos">  </p>

<p id="update" style="color:green;"></p>
<p> Score: </p> <p id="score"></p>

<span> Speed: <pre id="speed">  </pre> </span>

<canvas id="metronome" width="30" height="30" style="border:1px solid #000000;">
</canvas>


<canvas id="game" width="600" height="400" style="border:1px solid #000000;">
</canvas>

</body>
<script> 


function animate()
{
	var time = new Date().getTime();
	var draw = 0;
	playback(time);
	if( time - lastTime >= 20 )
	{
		draw = 1;
		lastTime = time;
		clearCanvas();
		drawStatic(new_song.tracks);
	}
	else
	{
		draw = 0;
	}
	new_song.play(time, draw);
}

function clearCanvas () {
  	ctx.clearRect(0, 0, c.width, c.height);
}

function drawStatic (n_sounds) 
{
	spacing = c.width / n_sounds
	padding = c.width % n_sounds + (spacing/2)
	for (i=0; i<n_sounds; i++){
		ctx.beginPath();
		ctx.arc(padding + spacing*i, time_position, 40, 0 , 2 * Math.PI);
		ctx.stroke();
	}
}


function keyHandler(e){
	var keyCode = String(e.keyCode);
	updateScore(keyCode);
	var p1 = document.getElementById("p1");
	p1.html = e.keyCode;
	//playSound(map_key_track[keyCode])
	
}

function playSound(track){
	if( soundIndex[track] == 0 )
		soundIndex[track] = 1
	else
		soundIndex[track] = 0;
	audio[track][soundIndex[track]].play();
}

function playback(t){
	for ( track = 0; track < new_song.tracks; track ++)
	{
		var play = new_song.getCurrentBeatTimePlayback(t, track);
		if ( play == 1)
		{
			playSound(track);
		}
	}
}

function updateScore (keyCode){
	var t = new Date().getTime();
	var track = map_key_track[keyCode];
	if( track == undefined || track >= new_song.tracks )
	  	return;
	var cur_beat_time = new_song.getCurrentBeatTime(t, track);
	if (cur_beat_time == -1){
		update = - 1;
	}
	else
	{
		update = (1 / (Math.abs(cur_beat_time - t))) * 100;
		if ( update > 100 )
			update = 100;
	}
	score = score + update
	var updateTag = document.getElementById("update");
	var scoreTag = document.getElementById("score");
	updateTag.innerHTML = update;
	scoreTag.innerHTML = score;
}


function makeCircles () {
	var circles = new Array ();
	circles[0] = new Circle(150, 0, 'red');
	circles[1] = new Circle(450, -100, 'green');
	circles[2] = new Circle(450, -300, 'blue');
	circles[3] = new Circle(150, -400, 'orange');
	circles[4] = new Circle(450, -600, 'yellow');
	return circles;
}

function getXMLHttpRequest() {
    var xhr = null;
     
    if (window.XMLHttpRequest || window.ActiveXObject) {
        if (window.ActiveXObject) {
            try {
                xhr = new ActiveXObject("Msxml2.XMLHTTP");
            } catch(e) {
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
        } else {
            xhr = new XMLHttpRequest(); 
        }
    } else {
        alert("Your webbrowser doesn't suppot XMLHTTP!");
        return null;
    }     
    return xhr;
}

function sendSongRequest()
{
	var xhr = getXMLHttpRequest();
	xhr.open("GET", "song/{{song}}", false);
	xhr.send(null);
	return parseXml( xhr.responseXML );
}

function parseXml( xml)
{
	var new_rhythms = [];
	var rhythms = xml.getElementsByTagName("rhythm");
	for( var i = 0; i < rhythms.length; i++)
	{
		var rhythm = rhythms[i];
		var tracks = rhythm.getElementsByTagName("track");
		var beats = [];
		for( k = 0; k <tracks.length; k++ )
		{
			var track = tracks[k];
			var beatsT = [];
			var notes = track.getElementsByTagName("note");
			for( j = 0; j < notes.length; j++) {
				beatsT[j] = Number(notes[j].childNodes[0].nodeValue);
			}
			beats[k] = beatsT;
		}
		new_rhythms[i] = new Rhythm( beats, Number( rhythm.getElementsByTagName("start")[0].childNodes[0].nodeValue ), 
											Number( rhythm.getElementsByTagName("length")[0].childNodes[0].nodeValue ) );
	}
	return new Song(new_rhythms, "ij");
}

function loadAudio()
{
	for( i = 0; i < map_track_sound.length ; i++)
	{
		soundIndex[i] = 0;
		audio[i] = new Array();
		for( j = 0; j < 2 ; j++)
		{
			var snd = new Audio(map_track_sound[i]);
			snd.load();
			snd.addEventListener('canplaythrough', function() { 
	   				startoff();
				}, false);
			audio[i][j] = snd;
		}
	}
}

function flip()
{
	if( metronome_state == 1)
		metronome.fillRect(0,0,c.width, c.height);
	else
		metronome.clearRect(0, 0, c.width, c.height);
	metronome_state = -metronome_state;

}


map_key_track={
     "101":0, 
     "119":1, 
     "113":2
};

map_track_color = ['green', 'red', 'blue'];
map_track_sound = [
	"sound/54013__domingus__djembe-doble.wav", 
	"sound/54014__domingus__djembe-hi-1.wav", 
    "sound/54015__domingus__djembe-hi-2.wav", 
	"sound/54014__domingus__djembe-hi-1.wav", 
    "sound/54015__domingus__djembe-hi-2.wav", 
	"sound/54014__domingus__djembe-hi-1.wav"];

audio = [];
soundIndex = [];
loadAudio();
var score = 0;
var error_range = 200;
time_position = 350
var time = 0;
var ctx = null;
var new_song = null;
var counter = 0; 
var c = null;
var metronome_state = 1;
var m = null;
var metronome = null;
var lastTime = 0;


function startoff()
{
	counter ++;
	if( counter == map_track_sound.length )
		start();
}


function start()
{
	m = document.getElementById("metronome");
	metronome = m.getContext("2d");
	metronome.fillStyle="#000000";

	c = document.getElementById("game");
	ctx = c.getContext("2d");
	time = new Date().getTime();
	circles = makeCircles()


	new_song = sendSongRequest();
	new_song.start(0.3);

	document.addEventListener('keypress', function (e){keyHandler(e);}, false);


	setInterval(function () { flip(); }, 1000);
	setInterval(function () { animate(); }, 10);
	
}


  </script>
</html>