<html>
<head>
  	<script src="script/rhythm.js"></script>
  	<script src="script/song.js"></script>
  	<script src="script/circle.js"></script>
  	<script src="script/xml_parsing.js"></script>
  	<script src="script/scoring.js"></script>
	<link rel="stylesheet" type="text/css" href="style/game.css">
	<link rel="stylesheet" type="text/css" href="style/tree.css">

</head>
<body>


<canvas id="metronome" width="30" height="30" style="border:1px solid #000000;"></canvas>

<div id="container" >
	<div id="nav" class="side-pane">
	<ul>
		<li><input type="checkbox" id="item-0" /><label for="item-0">This Folder is Closed By Default</label>
			<ul>
				<li><input type="checkbox" id="item-0-0" /><label for="item-0-0">Ooops! A Nested Folder</label>
					<ul>
						<li><input type="checkbox" id="item-0-0-0" /><label for="item-0-0-0">Look Ma - No Hands!</label>
							<ul>
								<li><a href="./">First Nested Item</a></li>
								<li><a href="./">Second Nested Item</a></li>
								<li><a href="./">Third Nested Item</a></li>
								<li><a href="./">Fourth Nested Item</a></li>
							</ul>
						</li>
						<li><a href="./">Item 1</a></li>
						<li><a href="./">Item 2</a></li>
						<li><a href="./">Item 3</a></li>
					</ul>
				</li>
				<li><input type="checkbox" id="item-0-1" /><label for="item-0-1">Yet Another One</label>
					<ul>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
					</ul>
				</li>
				<li><input type="checkbox" id="item-0-2" disabled="disabled" /><label for="item-0-2">Disabled Nested Items</label>
					<ul>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
					</ul>
				</li>
				<li><a href="./">item</a></li>
				<li><a href="./">item</a></li>
				<li><a href="./">item</a></li>
				<li><a href="./">item</a></li>
			</ul>
		</li>
		<li><input type="checkbox" id="item-1" checked="checked" /><label for="item-1">This One is Open by Default...</label>
			<ul>
				<li><input type="checkbox" id="item-1-0" /><label for="item-1-0">And Contains More Nested Items...</label>
					<ul>
						<li><a href="./">Look Ma - No Hands</a></li>
						<li><a href="./">Another Item</a></li>
						<li><a href="./">And Yet Another</a></li>
					</ul>
				</li>
				<li><a href="./">Lorem</a></li>
				<li><a href="./">Ipsum</a></li>
				<li><a href="./">Dolor</a></li>
				<li><a href="./">Sit Amet</a></li>
			</ul>
		</li>
		<li><input type="checkbox" id="item-2" /><label for="item-2">Can You Believe...</label>
			<ul>
				<li><input type="checkbox" id="item-2-0" /><label for="item-2-0">That This Treeview...</label>
					<ul>
						<li><input type="checkbox" id="item-2-2-0" /><label for="item-2-2-0">Does Not Use Any JavaScript...</label>
							<ul>
								<li><a href="./">But Relies Only</a></li>
								<li><a href="./">On the Power</a></li>
								<li><a href="./">Of CSS3</a></li>
							</ul>
						</li>
						<li><a href="./">Item 1</a></li>
						<li><a href="./">Item 2</a></li>
						<li><a href="./">Item 3</a></li>
					</ul>
				</li>
				<li><input type="checkbox" id="item-2-1" /><label for="item-2-1">This is a Folder With...</label>
					<ul>
						<li><a href="./">Some Nested Items...</a></li>
						<li><a href="./">Some Nested Items...</a></li>
						<li><a href="./">Some Nested Items...</a></li>
						<li><a href="./">Some Nested Items...</a></li>
						<li><a href="./">Some Nested Items...</a></li>
					</ul>
				</li>
				<li><input type="checkbox" id="item-2-2" disabled="disabled" /><label for="item-2-2">Disabled Nested Items</label>
					<ul>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
						<li><a href="./">item</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	
	</div>
		<!-- <img> -->
		<canvas id="game" width="600" height="400" style="border:1px solid #000000; background-color:#ffffff;">
		</canvas>
	<div id="score-pane" class="side-pane" >
		<p> Last key pressed: </p><p id="keypressed">none</p>
		<p> Update: </p><p id="update" style="color:green;">0</p>
		<p> Score: </p>  <p id="score">0</p>
	</div>

</div>

</body>
<script> 


// This function is responisble to call all the other functions to: draw the static content ( circle at the bottom ), to
// draw the notes, and to play the notes.
function animate()
{
	var time = new Date().getTime();
	var draw = 0;
	// playback(time);
	if( time - lastTime >= 20 )
	{
		draw = 1;
		lastTime = time;
		clearCanvas();
		drawStatic(new_song.tracks);
	}
	else
	{
		draw = 0;
	}
	new_song.play(time, draw);

}

// Clear the canvas ( the canvs is white after calling this function)
function clearCanvas () {
  	ctx.clearRect(0, 0, c.width, c.height);
}

// This function draw the circle at the bottom of the page as well as the letters in the circle ( corresponding to key for the track)
function drawStatic (n_sounds) 
{
	var spacing = c.width / n_sounds
	var padding = c.width % n_sounds + (spacing/2)
	for (i=0; i<n_sounds; i++){
		var x_pos = padding + spacing*i
		ctx.beginPath();
		ctx.arc(x_pos, time_position, 40, 0 , 2 * Math.PI);
		ctx.stroke();
		var character = String.fromCharCode(map_track_key[i]);
		ctx.font="30px Impact";
		ctx.fillStyle="#000000";
		ctx.fillText(character, x_pos - 8, time_position + 5);
	}
}

// Maybe make this a method of a DrawStatic object
function drawPlayed(track, n_sounds) 
{
	var spacing = c.width / n_sounds
	var padding = c.width % n_sounds + (spacing/2)
	var x_pos = padding + spacing*track
	ctx.beginPath();
	ctx.arc(x_pos, time_position, 40, 0 , 2 * Math.PI);
	ctx.fillStyle="red";
	ctx.fill();
	ctx.stroke();
	var character = String.fromCharCode(map_track_key[track]);
	ctx.font="30px Impact";
	ctx.fillStyle="#ffffff";
	ctx.fillText(character, x_pos - 8, time_position + 5);
}

// This function is called when the player pressa key, if the key key correspond to a track then the scroe is update and the notes is 
// played
// make the relevant static circle change color each time the key is played
// regardless of whether the player is in time
function keyHandler(e){
	var keyCode = String(e.keyCode);
	updateScore(keyCode);
	var p1 = document.getElementById("keypressed");
	p1.innerHTML = e.keyCode;
	var track = map_key_track[keyCode];
	drawPlayed(track, new_song.tracks);
	playSound(track);
	
}


// Play the sound corresponding to a particular track
function playSound(track){
	soundIndex[track]++;
	if( soundIndex[track] > 2) 
	{
		soundIndex[track] = 0;
	}
	// -- DEBUGGING --
	console.log(track)
	console.log(soundIndex)
	console.log(audio[track][soundIndex[track]])
	// ---
	audio[track][soundIndex[track]].play();
}

// Play the notes in song.xml at the right time:
function playback(t)
{
	for ( track = 0; track < new_song.tracks; track ++)
	{
		var play = new_song.getCurrentBeatTimePlayback(t, track);
		if ( play == 1)
		{
			playSound(track);
		}
	}
}




function sendSongRequest()
{
	var xhr = getXMLHttpRequest();
	xhr.open("GET", "song/{{song}}", false);
	xhr.send(null);
	return parseXml( xhr.responseXML );
}

function loadAudio()
{
	playbackSound = new Audio(backgroundsong)
	if( map_track_sound.length == 0 )
		startScreen();
	else
	{
		for( i = 0; i < map_track_sound.length ; i++)
		{
			soundIndex[i] = 0;
			audio[i] = new Array();
			for( j = 0; j < 3 ; j++)
			{
				var snd = new Audio(map_track_sound[i]);

				snd.load();
				// what does the line below do?
				snd.addEventListener('canplaythrough', function() { 
		   				startoff();
					}, false);
				audio[i][j] = snd;
			}
		}
	}
}

// TODO: get rid replace with horizontal line
function flip()
{
	if( metronome_state == 1)
		metronome.fillRect(0, 0, c.width, c.height);
	else
		metronome.clearRect(0, 0, c.width, c.height);
	metronome_state = -metronome_state;

}



map_key_track = {"113":0, "119":1, "101":2, "114":3, "116":4, "121":5};
map_track_key = ["113", "119", "101", "114", "116", "121"];
// TO DO: albert munsell color scale matched on grey of background
map_track_color = ['#44d735', '#d73535', '#3572d7', '#ded526', '#28a330', '#d78135'];
map_track_sound = [];

playbackSound = null;
backgroundsong = null;

audio = [];
soundIndex = [];
var score = 0;
var error_range = 200;
var time_position = 350
var time = 0;

// We get the canvas in which the game is displayed:
var c = document.getElementById("game");
var ctx = c.getContext("2d");
ctx.fillText("LOADING...", 0, 50);

var new_song = null;
var counter = 0; 
var metronome_state = 1;
var m = null;
var metronome = null;
var lastTime = 0;

new_song = sendSongRequest();
loadAudio();


ctx.fillStyle="#000000";
ctx.font="50px Arial";


function startoff()
{
	counter ++;
	if ( counter == map_track_sound.length )
		startScreen();
}

function startScreen()
{
	// TODO: choose nice fonts scheme 
	clearCanvas();
	drawStatic(new_song.tracks);
	ctx.fillText("Press any key to start", 0, 50);
	document.addEventListener('keypress', function (e){ 
								this.removeEventListener('keypress',arguments.callee,false)
								start();
							}, false);
}

function start()
{
	m = document.getElementById("metronome");
	metronome = m.getContext("2d");
	metronome.fillStyle="#000000";

	new_song.start(0.3);

	document.addEventListener('keypress', function (e){keyHandler(e);}, false);


	setInterval(function () { flip(); }, 1000);
	setInterval(function () { animate(); }, 10);
	playbackSound.volume = 0.1;
	playbackSound.play();
	
}


  </script>
</html>