<html>
<head>
    <script src="script/xml_parsing.js"></script>
    <script src="script/gridToRhythm.js"></script>
    <script src="script/rhythmToXml.js"></script>
    <script src="script/rhythm.js"></script>
    <script src="script/AdvancedRhythm.js"></script>
    <script src="script/circle.js"></script>
    <script src="script/beat.js"></script>
    <script src="script/rhythmPlayer.js"></script>
    

    <link rel="stylesheet" type="text/css" href="style/rhythm_enterer.css">
</head>

<style type="text/css">
     /*
    a = '<td> <input type="checkbox" id="cb%s" value=""> </td> %s '
    b = '</tr><br><tr id="row%s">'
    for i in range(1, 16**2+1):
        print a % (str(i).zfill(3), b % str(i / 16).zfill(3) if not i % 16 else '')
    */
</style>
<body>
<div id="enterer_container">
<table>
    <tbody>
        <tr>
            <td><label>Number rows</label><input type="text" id="num_rows" value="16"/></td>
            <td><label>Title</label><input type="text" id="rhythm_title" value="Some new rhythm"/></td>
        </tr>
    </tbody>
</table>
<table id="main_table">
    <tbody id="rhythm_table">
                                                            <tr id="table_header"> 
    <td> <label class="table_header">Track Song </label> </td>
    <td> <label class="table_header">1 </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header">2 </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header">3 </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header">4 </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td> </tr>
</tbody>
</table>

<table >
<tbody id="all_rhythms"> 
</tbody>
</table>


<div id="button_container">
    <button onclick="submitRhythm()">Submit rhythm</button>
    <button onclick="updateRhythms('delete_all')">Delete all rhythms</button>
    <button onclick="updateRhythmsList()">Update List Of Rhythm</button>
    <button onclick="playRhythm()" id="playRhythm">Play Rhythm</button>
    <button onclick="addATrack()" >Add Track</button>
    <input type="number" id="time" value="">
    <button onclick="emptyGrid()" >Clear Grid</button>
</div>

</div>
<div id='rhythms' style="text-align: center;"></div>
<b><div id='error' style="text-align: center; color: #d73535; "></div></b>
</body>
<script>

var gridToRhythm = new GridToRhythm();
var rhythmToXml = new RhythmToXml();
var rhythm_player = new RhythmPlayer();

var x2g = new XMLToGrid();
var songs = new SongRequest();
rhythms = null;

updateRhythmsList();
songs.updateDropDowns();

var w = window;

var number_line = 0;
var number_row = 16;
var counter = 1;
var sortedDate = 0;
var sortedTitle = 0;

function getZeros(number)
{
    if( number < 10 )
        return "00" + number
    else if( number < 100 )
        return "0" + number
    else
        return "" + number
}

function addATrack()
{
    number_line++;
    var table = document.getElementById("rhythm_table");
    var new_line = document.createElement("tr");
    new_line.id = "row" + getZeros(number_line-1);
    table.appendChild(new_line);
    var first_row = document.createElement("td");
    new_line.appendChild(first_row);
    first_row.innerHTML = "<select class=\"song_dropdown\" name=\"\" id="+number_line+"> </select>";
    for( var i = 0; i < number_row ; i++)
    {
        var next_row = document.createElement("td");
        next_row.innerHTML = "<input type=\"checkbox\" id=\"cb"+ getZeros(counter)+"\" value=\"\">";
        new_line.appendChild(next_row);
        counter++;
    }
    songs.updateDropDown(number_line-1);
}

for( var j = 0; j < 6 ; j++)
    addATrack();


function compareByName(a,b)
{
    if( a.title < b.title)
        return -1;
    else if( a.title > b.title)
        return 1;
    else
        return 0;
}

function sortListByName()
{
    if( sortedTitle == 0)
        rhythms.sort(compareByName);
    else
        rhythms.reverse();
    sortedTitle = 1;
    sortedDate = 0;
    displayRhythmsInList();
}

function compareByDate(a,b)
{
    if( a.date > b.date)
        return -1;
    else if( a.date < b.date)
        return 1;
    else
        return 0;
}

function sortListByDate()
{
    if( sortedDate == 0)
        rhythms.sort(compareByDate);
    else
        rhythms.reverse();
    sortedTitle = 0;
    sortedDate = 1;
    displayRhythmsInList();
}

function playRhythm()
{
    if( rhythm_player.canPlay == 1 )
    {    
        rhythm_player.canPlay = 0;
        var rhythm = gridToRhythm.parseRhythm();
        var time = document.getElementById("time").value;
        var time = parseInt(time);
        rhythm_player.setUp(rhythm, time);
    }
}

function submitRhythm()
{
    var rhythm = gridToRhythm.parseRhythm();
    var xml = rhythmToXml.parseRhythm(rhythm);

    var xhr = getXMLHttpRequest();
    xhr.open("POST", '/rhythm_db', false);
    var xml_str = xml.innerHTML;
    var title = document.getElementById('rhythm_title').value;
    var request_body = title + '|' + xml_str
    xhr.send(request_body);
    console.log(request_body);
    console.log(xhr.responseText);
    document.getElementById('error').innerHTML = xhr.responseText;

    updateRhythmsList();
}

function updateRhythms(string){
    var xhr = getXMLHttpRequest();
    var url = '/rhythm_db?arg=' + string
    xhr.open("GET", url, false);
    xhr.send(null);
    document.getElementById('rhythms').innerHTML = xhr.responseText;
    console.log(xhr.responseText);
    all_rhythms = JSON.parse(xhr.responseText);
    return xhr.responseText;
}



function updateRhythmsList()
{
    list = document.getElementById("all_rhythms");
    x2g.requestAllRythms();
    displayRhythmsInList();
    sortedTitle = 0;
    sortedDate = 0;
}

function displayRhythmsInList()
{
    if( list == null)
    {
        alert("The list could not be found")
        return;
    }
    list.innerHTML = "<tr> <td onclick=\"sortListByName()\">Title</td> <td onclick=\"sortListByDate()\">Last Modified</td>  </tr>";
    for( var i = 0 ; i < rhythms.length; i++)
    {
        title = document.createElement('td');
        title.innerHTML = rhythms[i].title;
        title.setAttribute("onclick","x2g.displayRhythmOnGrid(\""+rhythms[i].title+"\");");
        
        date = document.createElement('td');
        date.innerHTML =rhythms[i].date.toUTCString();
        new_entry = document.createElement('tr');
        new_entry.appendChild(title);
        new_entry.appendChild(date);

        list.appendChild( new_entry );
    }
}


function SongRequest()
{
    this.sendRequest = function (options){
        var xhr = getXMLHttpRequest();
        var url = '/song_db' + options
        xhr.open("GET", url, false);
        xhr.send(null);
        return xhr;       
    }

    this.requestAllSongs = function()
    {
        xhr = this.sendRequest('');
        this.songs = JSON.parse(xhr.responseText).songs;       
    }

    this.updateDropDowns = function()
    {
        this.requestAllSongs();
        song_options = []
        for( var i = 0; i < this.songs.length; i++)
        {
            song_option = document.createElement('option');
            song_option.value = this.songs[i];
            song_option.innerHTML = this.songs[i];
            song_options.push(song_option);
        }

        dropDowns = document.getElementsByClassName("song_dropdown");
        for(var i = 0; i < dropDowns.length; i++)
        {
            for( var j = 0; j < song_options.length; j++)
            {
                dropDowns[i].appendChild(song_options[j].cloneNode(true));
            }
        }
    }

    this.updateDropDown = function(k)
    {
        this.requestAllSongs();
        song_options = []
        for( var i = 0; i < this.songs.length; i++)
        {
            song_option = document.createElement('option');
            song_option.value = this.songs[i];
            song_option.innerHTML = this.songs[i];
            song_options.push(song_option);
        }
        
        var dropDowns = document.getElementsByClassName("song_dropdown");
        for( var j = 0; j < song_options.length; j++)
        {
            dropDowns[k].appendChild(song_options[j].cloneNode(true));
        }
    }
}



function emptyGrid()
{
    var table = document.getElementById('main_table');
    for (var i = 0, row; row = table.rows[i+1]; i++) 
    {
        for (var j = 0, col; col = row.cells[j]; j++) 
        {           
            col.childNodes[0].checked = false;
        }
    }       
}

function XMLToGrid (){

    this.requestAllRythms = function()
    {
        xhr = this.sendRequest('?arg=all');
        rhythms = JSON.parse(xhr.responseText).rhythms;
        for( var i = 0; i < rhythms.length ; i++)
            rhythms[i].date = new Date( Date.parse(rhythms[i].date));
    }

    this.requestRhythm  = function (rhythm_title)
    {
        xhr = this.sendRequest('?title=' + rhythm_title);
        this.rhythm = xhr.responseXML;
    }
    
    this.sendRequest = function (options){
        var xhr = getXMLHttpRequest();
        var url = '/rhythm_db' + options
        xhr.open("GET", url, false);
        xhr.send(null);
        return xhr;       
    }

    this.parseRhythm = function (){
        var a = 0;
    }

    this.displayRhythmOnGrid = function ( title){
        emptyGrid();
        this.requestRhythm(title);
        loaded_rhythm = parseXml(this.rhythm);
        for( var i = 0; i < loaded_rhythm.beats.length ; i ++)
        {
            for( var j = 0; j < loaded_rhythm.beats[i].length ; j ++)
            {
                var beat = loaded_rhythm.beats[i][j];
                this.checkbox( beat / (1 / 16 ), i ); 
            }
        }


        for( var i = 0; i < loaded_rhythm.trackNumber_to_trackID.length; i++)
        {
            var song = loaded_rhythm.track_to_song[loaded_rhythm.trackNumber_to_trackID[i]];
            dropDown = document.getElementById(i+1);
            dropDown.value = song;
        }
    }

    this.checkbox = function(index, track)
    {
        checkbox_number = track * 16 + index + 1;
        if ( checkbox_number < 10 )
        {
            additional_zero = "00";
        }
        else if( checkbox_number < 100)
        {
            additional_zero = "0"
        }
        else
        {
            additional_zero = ""
        }
        checkbox_id = "cb" + additional_zero + checkbox_number;
        checkbox = document.getElementById(checkbox_id);
        checkbox.checked = true;
    }
}

rhythm = [
    [
        {'track':[
            {'note': 0.2},
            {'note': 0.4}]},
        {'sound':'djembe_low.wav'}
    ],
    {'track':[{'note': 0.2}, {'note': 0.4}]}
]




</script>
</html>
