<html>
<head>
    <script src="script/xml_parsing.js"></script>
    <script src="script/gridToRhythm.js"></script>
    <script src="script/rhythmToXml.js"></script>
    <script src="script/rhythm.js"></script>
    <script src="script/AdvancedRhythm.js"></script>
    <script src="script/circle.js"></script>
    <script src="script/beat.js"></script>
    <script src="script/rhythmPlayer.js"></script>
    

    <link rel="stylesheet" type="text/css" href="style/rhythm_enterer.css">
</head>

<style type="text/css">
     /*
    a = '<td> <input type="checkbox" id="cb%s" value=""> </td> %s '
    b = '</tr><br><tr id="row%s">'
    for i in range(1, 16**2+1):
        print a % (str(i).zfill(3), b % str(i / 16).zfill(3) if not i % 16 else '')
    */
</style>
<body>
<div id="enterer_container">
<table>
    <tbody>
        <tr>
            <td><label>Number rows</label><input type="text" id="num_rows" value="16"/></td>
            <td><label>Title</label><input type="text" id="rhythm_title" value="Some new rhythm"/></td>
        </tr>
    </tbody>
</table>
<table id="main_table">
    <tbody>
                                                            <tr id="table_header"> 
    <td> <label class="table_header">Track Song </label> </td>
    <td> <label class="table_header">1 </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header">2 </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header">3 </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header">4 </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td>  
    <td> <label class="table_header"> </label> </td> </tr><tr id="row000">

    <td> <select class="song_dropdown" name="" id="1"> </select> </td> 
    <td> <input type="checkbox" id="cb001" value=""> </td> 
    <td> <input type="checkbox" id="cb002" value=""> </td>  
    <td> <input type="checkbox" id="cb003" value=""> </td>  
    <td> <input type="checkbox" id="cb004" value=""> </td>  
    <td> <input type="checkbox" id="cb005" value=""> </td>  
    <td> <input type="checkbox" id="cb006" value=""> </td>  
    <td> <input type="checkbox" id="cb007" value=""> </td>  
    <td> <input type="checkbox" id="cb008" value=""> </td>  
    <td> <input type="checkbox" id="cb009" value=""> </td>  
    <td> <input type="checkbox" id="cb010" value=""> </td>  
    <td> <input type="checkbox" id="cb011" value=""> </td>  
    <td> <input type="checkbox" id="cb012" value=""> </td>  
    <td> <input type="checkbox" id="cb013" value=""> </td>  
    <td> <input type="checkbox" id="cb014" value=""> </td>  
    <td> <input type="checkbox" id="cb015" value=""> </td>  
    <td> <input type="checkbox" id="cb016" value=""> </td> </tr><tr id="row001"> 

    <td> <select class="song_dropdown" name="" id="2"> </select> </td> 
    <td> <input type="checkbox" id="cb017" value=""> </td>  
    <td> <input type="checkbox" id="cb018" value=""> </td>  
    <td> <input type="checkbox" id="cb019" value=""> </td>  
    <td> <input type="checkbox" id="cb020" value=""> </td>  
    <td> <input type="checkbox" id="cb021" value=""> </td>  
    <td> <input type="checkbox" id="cb022" value=""> </td>  
    <td> <input type="checkbox" id="cb023" value=""> </td>  
    <td> <input type="checkbox" id="cb024" value=""> </td>  
    <td> <input type="checkbox" id="cb025" value=""> </td>  
    <td> <input type="checkbox" id="cb026" value=""> </td>  
    <td> <input type="checkbox" id="cb027" value=""> </td>  
    <td> <input type="checkbox" id="cb028" value=""> </td>  
    <td> <input type="checkbox" id="cb029" value=""> </td>  
    <td> <input type="checkbox" id="cb030" value=""> </td>  
    <td> <input type="checkbox" id="cb031" value=""> </td>  
    <td> <input type="checkbox" id="cb032" value=""> </td> </tr><tr id="row002"> 

    <td> <select class="song_dropdown" name="" id="3"> </select> </td> 
    <td> <input type="checkbox" id="cb033" value=""> </td>  
    <td> <input type="checkbox" id="cb034" value=""> </td>  
    <td> <input type="checkbox" id="cb035" value=""> </td>  
    <td> <input type="checkbox" id="cb036" value=""> </td>  
    <td> <input type="checkbox" id="cb037" value=""> </td>  
    <td> <input type="checkbox" id="cb038" value=""> </td>  
    <td> <input type="checkbox" id="cb039" value=""> </td>  
    <td> <input type="checkbox" id="cb040" value=""> </td>  
    <td> <input type="checkbox" id="cb041" value=""> </td>  
    <td> <input type="checkbox" id="cb042" value=""> </td>  
    <td> <input type="checkbox" id="cb043" value=""> </td>  
    <td> <input type="checkbox" id="cb044" value=""> </td>  
    <td> <input type="checkbox" id="cb045" value=""> </td>  
    <td> <input type="checkbox" id="cb046" value=""> </td>  
    <td> <input type="checkbox" id="cb047" value=""> </td>  
    <td> <input type="checkbox" id="cb048" value=""> </td> </tr><tr id="row003"> 

    <td> <select class="song_dropdown" name="" id="4"> </select> </td> 
    <td> <input type="checkbox" id="cb049" value=""> </td>  
    <td> <input type="checkbox" id="cb050" value=""> </td>  
    <td> <input type="checkbox" id="cb051" value=""> </td>  
    <td> <input type="checkbox" id="cb052" value=""> </td>  
    <td> <input type="checkbox" id="cb053" value=""> </td>  
    <td> <input type="checkbox" id="cb054" value=""> </td>  
    <td> <input type="checkbox" id="cb055" value=""> </td>  
    <td> <input type="checkbox" id="cb056" value=""> </td>  
    <td> <input type="checkbox" id="cb057" value=""> </td>  
    <td> <input type="checkbox" id="cb058" value=""> </td>  
    <td> <input type="checkbox" id="cb059" value=""> </td>  
    <td> <input type="checkbox" id="cb060" value=""> </td>  
    <td> <input type="checkbox" id="cb061" value=""> </td>  
    <td> <input type="checkbox" id="cb062" value=""> </td>  
    <td> <input type="checkbox" id="cb063" value=""> </td>  
    <td> <input type="checkbox" id="cb064" value=""> </td> </tr><tr id="row004"> 

    <td> <select class="song_dropdown" name="" id="5"> </select> </td> 
    <td> <input type="checkbox" id="cb065" value=""> </td>  
    <td> <input type="checkbox" id="cb066" value=""> </td>  
    <td> <input type="checkbox" id="cb067" value=""> </td>  
    <td> <input type="checkbox" id="cb068" value=""> </td>  
    <td> <input type="checkbox" id="cb069" value=""> </td>  
    <td> <input type="checkbox" id="cb070" value=""> </td>  
    <td> <input type="checkbox" id="cb071" value=""> </td>  
    <td> <input type="checkbox" id="cb072" value=""> </td>  
    <td> <input type="checkbox" id="cb073" value=""> </td>  
    <td> <input type="checkbox" id="cb074" value=""> </td>  
    <td> <input type="checkbox" id="cb075" value=""> </td>  
    <td> <input type="checkbox" id="cb076" value=""> </td>  
    <td> <input type="checkbox" id="cb077" value=""> </td>  
    <td> <input type="checkbox" id="cb078" value=""> </td>  
    <td> <input type="checkbox" id="cb079" value=""> </td>  
    <td> <input type="checkbox" id="cb080" value=""> </td> </tr><tr id="row005"> 

    <td> <select class="song_dropdown" name="" id="6"> </select> </td> 
    <td> <input type="checkbox" id="cb081" value=""> </td>  
    <td> <input type="checkbox" id="cb082" value=""> </td>  
    <td> <input type="checkbox" id="cb083" value=""> </td>  
    <td> <input type="checkbox" id="cb084" value=""> </td>  
    <td> <input type="checkbox" id="cb085" value=""> </td>  
    <td> <input type="checkbox" id="cb086" value=""> </td>  
    <td> <input type="checkbox" id="cb087" value=""> </td>  
    <td> <input type="checkbox" id="cb088" value=""> </td>  
    <td> <input type="checkbox" id="cb089" value=""> </td>  
    <td> <input type="checkbox" id="cb090" value=""> </td>  
    <td> <input type="checkbox" id="cb091" value=""> </td>  
    <td> <input type="checkbox" id="cb092" value=""> </td>  
    <td> <input type="checkbox" id="cb093" value=""> </td>  
    <td> <input type="checkbox" id="cb094" value=""> </td>  
    <td> <input type="checkbox" id="cb095" value=""> </td>  
    <td> <input type="checkbox" id="cb096" value=""> </td> </tr><tr id="row006"> 

    <td> <select class="song_dropdown" name="" id="7"> </select> </td> 
    <td> <input type="checkbox" id="cb097" value=""> </td>  
    <td> <input type="checkbox" id="cb098" value=""> </td>  
    <td> <input type="checkbox" id="cb099" value=""> </td>  
    <td> <input type="checkbox" id="cb100" value=""> </td>  
    <td> <input type="checkbox" id="cb101" value=""> </td>  
    <td> <input type="checkbox" id="cb102" value=""> </td>  
    <td> <input type="checkbox" id="cb103" value=""> </td>  
    <td> <input type="checkbox" id="cb104" value=""> </td>  
    <td> <input type="checkbox" id="cb105" value=""> </td>  
    <td> <input type="checkbox" id="cb106" value=""> </td>  
    <td> <input type="checkbox" id="cb107" value=""> </td>  
    <td> <input type="checkbox" id="cb108" value=""> </td>  
    <td> <input type="checkbox" id="cb109" value=""> </td>  
    <td> <input type="checkbox" id="cb110" value=""> </td>  
    <td> <input type="checkbox" id="cb111" value=""> </td>  
    <td> <input type="checkbox" id="cb112" value=""> </td> </tr><tr id="row007"> 

    <td> <select class="song_dropdown" name="" id="8"> </select> </td> 
    <td> <input type="checkbox" id="cb113" value=""> </td>  
    <td> <input type="checkbox" id="cb114" value=""> </td>  
    <td> <input type="checkbox" id="cb115" value=""> </td>  
    <td> <input type="checkbox" id="cb116" value=""> </td>  
    <td> <input type="checkbox" id="cb117" value=""> </td>  
    <td> <input type="checkbox" id="cb118" value=""> </td>  
    <td> <input type="checkbox" id="cb119" value=""> </td>  
    <td> <input type="checkbox" id="cb120" value=""> </td>  
    <td> <input type="checkbox" id="cb121" value=""> </td>  
    <td> <input type="checkbox" id="cb122" value=""> </td>  
    <td> <input type="checkbox" id="cb123" value=""> </td>  
    <td> <input type="checkbox" id="cb124" value=""> </td>  
    <td> <input type="checkbox" id="cb125" value=""> </td>  
    <td> <input type="checkbox" id="cb126" value=""> </td>  
    <td> <input type="checkbox" id="cb127" value=""> </td>  
    <td> <input type="checkbox" id="cb128" value=""> </td> </tr>
</tbody>
</table>

<table >
<tbody id="all_rhythms">
    <tr>
        <td>Title</td>
        <td>Last Modified</td>
    </tr>    
</tbody>
</table>


<div id="button_container">
    <button onclick="submitRhythm()">Submit rhythm</button>
    <button onclick="updateRhythms('delete_all')">Delete all rhythms</button>
    <button onclick="updateRhythmsList()">Update List Of Rhythm</button>
    <button onclick="playRhythm()" id="playRhythm">Play Rhythm</button>
    <input type="number" id="time" value="">
</div>

</div>
<div id='rhythms' style="text-align: center;"></div>
<b><div id='error' style="text-align: center; color: #d73535; "></div></b>
</body>
<script>

var gridToRhythm = new GridToRhythm();
var rhythmToXml = new RhythmToXml();
var rhythm_player = new RhythmPlayer();
var w = window;

function playRhythm()
{
    if( rhythm_player.canPlay == 1 )
    {    
        rhythm_player.canPlay = 0;
        var rhythm = gridToRhythm.parseRhythm();
        var time = document.getElementById("time").value;
        var time = parseInt(time);
        rhythm_player.setUp(rhythm, time);
    }
}

function submitRhythm()
{
    var rhythm = gridToRhythm.parseRhythm();
    var xml = rhythmToXml.parseRhythm(rhythm);

    var xhr = getXMLHttpRequest();
    xhr.open("POST", '/rhythm_db', false);
    var xml_str = xml.innerHTML;
    var title = document.getElementById('rhythm_title').value;
    var request_body = title + '|' + xml_str
    xhr.send(request_body);
    console.log(request_body);
    console.log(xhr.responseText);
    document.getElementById('error').innerHTML = xhr.responseText;

    updateRhythmsList();
}


var x2g = new XMLToGrid();
var songs = new SongRequest();
rhythms = null;

updateRhythmsList();
songs.updateDropDowns();

function updateRhythms(string){
    var xhr = getXMLHttpRequest();
    var url = '/rhythm_db?arg=' + string
    xhr.open("GET", url, false);
    xhr.send(null);
    document.getElementById('rhythms').innerHTML = xhr.responseText;
    console.log(xhr.responseText);
    all_rhythms = JSON.parse(xhr.responseText);
    return xhr.responseText;
}



function updateRhythmsList()
{
    list = document.getElementById("all_rhythms");
    x2g.requestAllRythms();
    if( list == null)
    {
        alert("The list could not be found")
        return;
    }
    list.innerHTML = "<tr> <td>Title</td> <td>Last Modified</td>  </tr>";
    for( var i = 0 ; i < rhythms.length; i++)
    {
        title = document.createElement('td');
        title.innerHTML = rhythms[i].title;
        title.setAttribute("onclick","x2g.displayRhythmOnGrid(\""+rhythms[i].title+"\");");
        
        date = document.createElement('td');
        date.innerHTML = rhythms[i].date;

        new_entry = document.createElement('tr');
        new_entry.appendChild(title);
        new_entry.appendChild(date);

        list.appendChild( new_entry );
    }
}

function SongRequest()
{
    this.sendRequest = function (options){
        var xhr = getXMLHttpRequest();
        var url = '/song_db' + options
        xhr.open("GET", url, false);
        xhr.send(null);
        return xhr;       
    }

    this.requestAllSongs = function()
    {
        xhr = this.sendRequest('');
        this.songs = JSON.parse(xhr.responseText).songs;       
    }

    this.updateDropDowns = function()
    {
        this.requestAllSongs();
        song_options = []
        for( var i = 0; i < this.songs.length; i++)
        {
            song_option = document.createElement('option');
            song_option.value = this.songs[i];
            song_option.innerHTML = this.songs[i];
            song_options.push(song_option);
        }

        dropDowns = document.getElementsByClassName("song_dropdown");
        for(var i = 0; i < dropDowns.length; i++)
        {
            for( var j = 0; j < song_options.length; j++)
            {
                dropDowns[i].appendChild(song_options[j].cloneNode(true));
            }
        }
    }
}



function XMLToGrid (){

    this.emptyGrid = function()
    {
        var table = document.getElementById('main_table');
        for (var i = 0, row; row = table.rows[i+1]; i++) 
        {
            for (var j = 0, col; col = row.cells[j]; j++) 
            {           
                col.childNodes[1].checked = false;
            }
        }       
    }
    this.requestAllRythms = function()
    {
        xhr = this.sendRequest('?arg=all');
        rhythms = JSON.parse(xhr.responseText).rhythms;
    }

    this.requestRhythm  = function (rhythm_title)
    {
        xhr = this.sendRequest('?title=' + rhythm_title);
        this.rhythm = xhr.responseXML;
    }
    
    this.sendRequest = function (options){
        var xhr = getXMLHttpRequest();
        var url = '/rhythm_db' + options
        xhr.open("GET", url, false);
        xhr.send(null);
        return xhr;       
    }

    this.parseRhythm = function (){
        var a = 0;
    }

    this.displayRhythmOnGrid = function ( title){
        this.emptyGrid();
        this.requestRhythm(title);
        loaded_rhythm = parseXml(this.rhythm);
        for( var i = 0; i < loaded_rhythm.beats.length ; i ++)
        {
            for( var j = 0; j < loaded_rhythm.beats[i].length ; j ++)
            {
                var beat = loaded_rhythm.beats[i][j];
                this.checkbox( beat / (1 / 16 ), i ); 
            }
        }


        for( var i = 0; i < loaded_rhythm.trackNumber_to_trackID.length; i++)
        {
            var song = loaded_rhythm.track_to_song[loaded_rhythm.trackNumber_to_trackID[i]];
            dropDown = document.getElementById(i+1);
            dropDown.value = song;
        }
    }

    this.checkbox = function(index, track)
    {
        checkbox_number = track * 16 + index + 1;
        if ( checkbox_number < 10 )
        {
            additional_zero = "00";
        }
        else if( checkbox_number < 100)
        {
            additional_zero = "0"
        }
        else
        {
            additional_zero = ""
        }
        checkbox_id = "cb" + additional_zero + checkbox_number;
        checkbox = document.getElementById(checkbox_id);
        checkbox.checked = true;
    }
}

rhythm = [
    [
        {'track':[
            {'note': 0.2},
            {'note': 0.4}]},
        {'sound':'djembe_low.wav'}
    ],
    {'track':[{'note': 0.2}, {'note': 0.4}]}
]




</script>
</html>
