<html>
<head>
  	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="style/game.css">
	<link rel="stylesheet" type="text/css" href="style/tree.css">

</head>
<body>

<div id="title">rhythmludus</div>

<div id="container" >
	<div id="nav" class="side-pane">
	</div>
		<canvas id="game" width="600" height="400" style="border:1px solid #000000; background-color:#ffffff;">
		</canvas>
	<div id="score-pane" class="side-pane" >
	</div>

</div>

</body>